{% extends 'AppBundle:look4wear:layout.html.twig' %}

{% block content %}
        <h1>О проекте look4wear.ru</h1>
        <p>
            look4wear.ru – ваш незаменимый помощник в шоппинге!
            На нашем портале собрана мужская и женская одежда самых известных марок, а также обувь и аксессуары.
            Модные бренды размещают здесь свои каталоги, чтобы вы могли сделать покупки всего за пару кликов.
        </p>

        <h4>Как это работает?</h4>
        <p>
            Только представьте: перед вами – куча открытых вкладок. В каждой интернет-магазин одежды. Товаров просто море!
            Страницы завлекают скидками и яркой рекламой. А вам нужно платье мечты, прямо сейчас.
            Волевым движением руки вы все закрываете и набираете: look4wear.ru.
            Заходите в поиск и вводите: для женщин – платья – вечерние, без разрезов, но с отделкой кружевом.
            И вот оно – То Самое! Один клик – и вы в интернет-магазине нужного продавца.
            Обратите внимание: наш проект – не интернет-магазин. Это портал, где размещены каталоги известных брендов.
            Мы собрали лучшее и представили в удобной и практичной форме, чтобы вы могли купить одежду с максимальным комфортом.
        </p>

        <h4>Почему так выгоднее?</h4>
        <p>
            Поиск по параметрам позволяет отфильтровать и не просматривать одежду, которая в план покупок не входит.
            Вы видите на странице только то, за чем пришли. Экономия времени – и заодно нервов.
            К тому же интернет-магазины часто выставляют специальные предложения: 20%, 50% и даже 90%.
            Поэтому те, кто следит за финансами, предпочитают искать одежду в интернете.
            Это удобнее: нет ограничения по времени – большинство интернет-магазинов работают круглосуточно.
            Плюс за вами не следит навязчивый продавец-консультант.
            Покупки в интернете лишены суеты: на нашем сайте можно отфильтровать только те позиции, на которые сейчас есть скидки, и вдумчиво их перебрать.
        </p>

        <h4>А что можно купить?</h4>
        <p>
            Любую вещь для классного гардероба. Наш проект сотрудничает как с мультибрендовыми магазинами,
            так и с известными марками: O’Stin, «40 недель» и другие. Поэтому вы видите в поиске рубашки и шорты Adidas, джинсы Diesel
            и офисные наряды Quelle. Вы подбираете вещи, кликаете на кнопку «Подробнее» – и попадаете в магазин продавца.
            Хочу сделать покупку!
            Отлично, отсортируйте одежду в нашем каталоге, найдите то, что вам нравится. Переходите на сайт интернет-магазина.
            Выберите нужный цвет, размер – и кладите одежду в Корзину. Поздравляем с первым заказом!
        </p>
{% endblock %}
