{% extends 'AppBundle:look4wear:layout.html.twig' %}

{% block content %}
    <h1>Каталог одежды look4wear.ru</h1>
    {% for catalogCategory in catalogCategories %}
        <h3 style="padding: 10px;">
            {{ catalogCategory.category.title }}
        </h3>
        {% if catalogCategory.image %}
            <a href="{{ catalogCategory.image | my_replace | imagine_filter('my_thumb') }}" class="progressive replace">
                <img class="preview" src="{{ catalogCategory.image | my_replace | imagine_filter('my_thumb') }}" alt="..." />
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}
