{% extends 'AppBundle:look4wear:layout.html.twig' %}

{% block content %}
    {{ include('AppBundle:look4wear:goods.block.html.twig', { 'goods': goods }) }}
    <h2>{{ actualCategory.title }}</h2>
    {% if actualCategory.description %}
        <div class="descriptionDiv">
            {{ actualCategory.description|raw }}
        </div>
    {% endif %}
    {% if categoryTopVendorsResult %}
        {{ include('AppBundle:look4wear:top.vendors.block.html.twig', { 'categoryTopVendorsResult': categoryTopVendorsResult, 'title': 'Популярные бренды этой категории', 'vendorAlias': '' }) }}
    {% endif %}
{% endblock %}
