{% extends 'AppBundle:look4wear:base.html.twig' %}
{% block metatags %}
    {{ include('AppBundle:look4wear:meta.tags.html.twig', {'metaTags' : metaTags}) }}
{% endblock %}
{% block counters %}
    {% if (app.environment == 'prod') and ('.lan' not in app.request.host) %}
        {{ include('AppBundle:look4wear:counters.block.html.twig') }}
    {% endif %}
{% endblock %}

{% block header %}
    <section class="banner" role="banner">
        <header id="header">
            <div class="header-content clearfix">
                <a class="logo" href="/">
                    <img src="images/logo.png" alt="">
                </a>
                <nav class="navigation" role="navigation">
                    <ul class="primary-nav">
                        <li>п.1</li>
                        <li>п.1</li>
                        <li>п.1</li>
                        <li>п.1</li>
                    </ul>
                </nav>
                <a href="#" class="nav-toggle">Menu<span></span></a>
            </div>
        </header>
    </section>
{% endblock %}
{% block body %}
    <section id="portfolio">
        <div class="container clearfix">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section"></div>
                </div>
            </div>
            {{ include('AppBundle:look4wear:search.form.html.twig') }}
            {#<div class="row">#}
                {#<div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">#}
                        {#<div class="caption">#}
                            {#<div class="caption-content">#}
                                {#<h3>The Shape of Design</h3>#}
                                {#<h4>Branding/Graphic</h4>#}
                            {#</div>#}
                        {#</div>#}
                        {#<img src="images/portfolio/work-1.jpg" class="img-responsive" alt=""> </a> </div>#}
                {#<div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">#}
                        {#<div class="caption">#}
                            {#<div class="caption-content">#}
                                {#<h3>czarna kawka</h3>#}
                                {#<h4>Branding</h4>#}
                            {#</div>#}
                        {#</div>#}
                        {#<img src="images/portfolio/work-2.jpg" class="img-responsive" alt=""> </a> </div>#}
                {#<div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">#}
                        {#<div class="caption">#}
                            {#<div class="caption-content">#}
                                {#<h3>czarna kawka</h3>#}
                                {#<h4>Branding</h4>#}
                            {#</div>#}
                        {#</div>#}
                        {#<img src="images/portfolio/work-3.jpg" class="img-responsive" alt=""> </a> </div>#}
                {#<div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">#}
                        {#<div class="caption">#}
                            {#<div class="caption-content">#}
                                {#<h3>czarna kawka</h3>#}
                                {#<h4>Branding</h4>#}
                            {#</div>#}
                        {#</div>#}
                        {#<img src="images/portfolio/work-4.jpg" class="img-responsive" alt=""> </a> </div>#}
                {#<div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">#}
                        {#<div class="caption">#}
                            {#<div class="caption-content">#}
                                {#<h3>czarna kawka</h3>#}
                                {#<h4>Branding</h4>#}
                            {#</div>#}
                        {#</div>#}
                        {#<img src="images/portfolio/work-5.jpg" class="img-responsive" alt=""> </a> </div>#}
                {#<div class="col-sm-6 portfolio-item"> <a href="work-details.html" class="portfolio-link">#}
                        {#<div class="caption">#}
                            {#<div class="caption-content">#}
                                {#<h3>czarna kawka</h3>#}
                                {#<h4>Branding</h4>#}
                            {#</div>#}
                        {#</div>#}
                        {#<img src="images/portfolio/work-6.jpg" class="img-responsive" alt=""> </a> </div>#}
            {#</div>#}
            {% block content %}
            {% endblock %}
        </div>
    </section>
{% endblock %}
