{% extends 'AppBundle:look4wear:layout.html.twig' %}

{% block content %}
    <h1>
        Результаты поиска по фразе "{{ searchString }}"
    </h1>
    {{ include('AppBundle:look4wear:goods.block.html.twig', { 'goods': goods }) }}
{% endblock %}
