<form action="/search">
    <input type="text" name="searchString" value="{% if searchString is defined %}{{ searchString }}{% endif %}" placeholder="Например: мужской пиджак">
    <button type="submit">Поиск</button>
</form>