{% extends 'AppBundle:look4wear:layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 style="font-size: 30px; text-align: center;">Доставка и возврат.</h1>
        <div style="margin: 0 auto; width: 70%;">
            <p>
                Покупки в интернет-магазине – наверное, самый удобный способ потратить деньги.
                Вы сидите дома или на работе перед монитором (или даже просто держите в руке телефон!), и отбираете то, что нравится,
                минуя очередь в примерочную, стоящего над душой консультанта и вдруг закрывшуюся на перерыв кассу.
                Выбирать вещи по вкусу удобнее всего в каталоге look4wear.ru: здесь обязательно найдется то, что нужно именно вам.
                Останется малость – оплата и доставка.
                <br />
                Поскольку на нашем портале размещены товары разных интернет-магазинов, стоит учесть:
                условия доставки и оплаты тоже могут различаться в зависимости от внутренней политики сайта, на котором вы покупаете товар.
            </p>


            <h4>Какой способ доставки выбрать?</h4>
            <p>
                На этом этапе важна эффективность: нужно соблюсти баланс между сроком и стоимостью.
                Конечно, новое платье или рубашку для будущих важных переговоров хочется получить в течение часа,
                но будем рациональными: курьерская доставка товаров до двери зачастую самая дорогостоящая.
                Поэтому внимательно читайте о способах доставки конкретного продавца: многие интернет-магазины бесплатно
                привозят джинсы и пальто в большие города или же развозят товар собственной курьерской службой.
            </p>

            <h4>Через какое время я получу заказ?</h4>
            <p>
                Зависит от того, на каком расстоянии от вас находится продавец.
                В среднем до конечного пункта товар будет идти: Москва и Санкт-Петербург – 1-3 дня, крупные города от 1 до 10 дней.
                В небольшие доставка до двух недель. В целом не так уж долго для красивой и модной вещи по приятной цене.
            </p>

            <h4>А если товар не подошел?</h4>
            <p>
                Многие площадки предоставляют бесплатную примерку, возврат или частичный возврат, при соблюдении определенных условий.
                Например, закрытая упаковка или примерка в течение 15 минут. Конечно, тут действует и закон о защите прав потребителей:
                есть категории покупок, которые вернуть нельзя – белье, носки и так далее.
                А вот насчет обмена на другой размер или фасон стоит уточнить у онлайн-консультанта или в соответствующем разделе
                сайта интернет-магазина.
            </p>
        </div>
    </div>
{% endblock %}
