{% extends '@App/look4wear/layout.html.twig' %}

{% block content %}
    <section class="e404Block">
        <div class="inside404">
            <h1>Страница не найдена!</h1>
            <p>
                Страница по этому адресу не найдена, но вы не расстраивайтесь, всегда можно воспользоваться поиском или <a href="/catalog">Каталогом</a>
            </p>
        </div>
    </section>
{% endblock %}