.content {
    max-width: 1248px;
    margin: 0 auto;
}

.searchForm {
    margin: 30px auto 10px auto;
    max-width: 800px;
}

.searchForm .searchString {
    min-width: 400px;
}

.goodsThumbnailBlock {
    height: 520px;
}

.searchStringBtn {
    background-color: #333 !important;
    background-image: linear-gradient(to bottom, #797979 0%, #151515 100%) !important;
}

.searchStringBtn, .searchStringInput {
    margin: 0 15px;
}

.goodsListImage {
    overflow:hidden;
    width:100%;
    height:100%;
}

.goodsListImage img {
    width:100%;
    overflow:hidden;
    /*-moz-transition: all 0.3s ease-out;*/
    /*-o-transition: all 0.3s ease-out;*/
    /*-webkit-transition: all 0.3s ease-out;*/
}

/*.goodsListImage img:hover{*/
    /*-webkit-transform: scale(1.1);*/
    /*-moz-transform: scale(1.1);*/
    /*-o-transform: scale(1.1);*/
    /*transform: scale(1.05);*/
    /*transition-duration: 0.3s;*/
/*}*/

.oldPrice {
    font-weight: bold;
    color: #c5620c;
    text-decoration: line-through;
}

.goodsPrice {
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width: 420px) {
    #portfolio .portfolio-item {
        width: 49%;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    #portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
    #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
        font-size: .45em;
        margin: 5px 0;
    }
}

@media screen and (min-width: 768px) {
    .col-sm-4 {
        width: 25% !important;
    }
}

@media screen and (max-width: 768px) {

    #portfolio .portfolio-item .portfolio-link .caption .caption-content h3 {
        font-size: .4em;
    }
    #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
        font-size: .4em;
    }
    #portfolio .portfolio-item .portfolio-link .caption .caption-content {
        margin-top: -25px;
    }
}